

{% extends 'base.html.twig' %}

{% block title %}Bienvenido!{% endblock %}
{% block stylesheets %}
    <style>
        .login {
            min-height: 100vh;
        }

        .bg-image {
            background-image: url('https://cdn.pixabay.com/photo/2018/03/31/06/31/dog-3277415_960_720.jpg');
            background-size: cover;
            background-position: center;
        }

        .login-heading {
            font-weight: 300;
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }

    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4 text-center">Happy Pets</h3>

                                <!-- Sign In Form -->
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                               value="{{ last_username }}" name="email" required autofocus
                                        >
                                        <label for="floatingInput">Correo Electrónico</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input name="password" type="password" class="form-control" id="floatingPassword"
                                               placeholder="Contraseña" required

                                        >
                                        <label for="floatingPassword">Contraseña</label>
                                    </div>

                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" name="_remember_me" id="rememberPasswordCheck">
                                        <label class="form-check-label" for="rememberPasswordCheck">
                                           Recordarme
                                        </label>
                                    </div>

                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Ingresar</button>
                                        <div class="text-center">
                                            <a class="small" href="#">Olvidé mi contraseña</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
