{% extends 'base.html.twig' %}

{% block title %}Happy Pets!{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: url('https://cdn.pixabay.com/photo/2016/11/21/18/14/abstract-1846962_960_720.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container">
            <a class="navbar-brand" href="#">Happy Pets</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5 row">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="btn-close float-right"
                                data-bs-dismiss="alert" aria-label="Close"
                                style="right: 5px; position: absolute;"
                        ></button>
                        <h4 class="alert-heading">Éxito!</h4>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}

                <div class="col-sm-4">
                    <a href="{{ path('app_registry_pet') }}" class="card">
                        <img src="https://letstalkscience.ca/sites/default/files/2020-03/calico-cat.jpg"
                             class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-text text-center text-dark">MASCOTAS</h4>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="#" class="card">
                        <img src="https://dugganvet.ie/wp-content/uploads/2021/01/veterinary-student.jpg"
                             class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-text text-center text-dark">CITAS</h4>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="#" class="card">
                        <img src="https://westchesteramishmarket.com/wp-content/uploads/2019/05/pet-store-westtown-pa.jpg"
                             class="card-img-top img-fluid">
                        <div class="card-body">
                            <h4 class="card-text text-center text-dark">TIENDA</h4>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
